.login-input-mobile {
  display: block;
  width: 100%;
  outline: none;
  padding: 2%;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 5vw;
  border: none;
  margin-bottom: 5%;
  text-align: center;
}

#sub-header-mobile {
  font-size: 15vw;
  margin: 1%;
  margin-bottom: 5%;
  margin-top: 0;
  user-select: none;
  text-align: center;
}

#header-mobile-login {
  font-size: 23vw;
  margin: 1%;
  margin-bottom: 0%;
  user-select: none;
  text-align: center;
}
#login-status-box {
  font-size: 6vw;
  text-align: center;
  padding-bottom: 5%;
  font-weight: lighter;
  font-style: italic;
}
